/*
  Fontstack
*/

$font-primary: 'Open Sans', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
  sans-serif;
$font-secondary: 'Muller', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
  sans-serif;
$font-display: 'Muller';

