/*
  Fontstack
*/

$font-primary: 'Masbul', 'geomanist', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
  sans-serif;
$font-secondary: 'sentinel', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
  sans-serif;
$font-mono: 'Roboto Mono', 'Operator Mono', monospace;
$font-display: 'sentinel';

