@import 'src/tokens';

.root {
  composes: row from global;
  &:not(:last-child) {
    padding-top: $space-l;
    padding-bottom: $space-l;
    border-bottom: 1px solid $dark-alpha-20;
  }
  &:last-child {
    padding-top: $space-l;
    padding-bottom: $space-xxl;
  }
}

.hour {
  composes: col-12 col-sm-4 from global;
  padding-right: 48px;
  font-family: $font-primary;
  letter-spacing: -0.12px;
  font-weight: $bold;
  font-size: 24px;
  line-height: 24px;
  display: block;
}

.details {
  composes: col-12 col-sm-8 from global;
  flex: auto;
}