@import 'src/tokens';

.root {
  position: relative;
  padding-bottom: $space-ll;
  &:not(:last-child) {
    border-bottom: 2px solid $dark-alpha-20;
    margin: $space-stack-ll;
  }
}

.photo {
  width: 280px;
  margin-bottom: $space-ll;
  mix-blend-mode: multiply;
}