@import 'src/tokens';

.root {
  position: relative;
  padding-bottom: $space-ll;
  &:not(:last-child) {
    border-bottom: 2px solid $dark-alpha-20;
    margin: $space-stack-ll;
  }
}

.photo {
  width: 280px;
  margin-bottom: $space-ll;
}

.hack {
  position: absolute;
  width: 100%;
  bottom: 100%;
  @include screen(phone) {
    height: 64px;
  }
  @include screen(tabPortrait) {
    height: 144px;
  }
  @include screen(tabLandscape) {
    height: 144px;
  }
  @include screen(desktop) {
    height: 144px;
  }
  @include screen(desktopWide) {
    height: 144px;
  }
}