@import "src/tokens";

.root {
  position: relative;
  background-color: $bg-banana-200;
  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabPortrait) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabLandscape) {
    padding-top: $space-xxl;
    padding-bottom: $space-ll;
  }
  @include screen(desktop) {
    padding-top: $space-xxl;
    padding-bottom: $space-ll;
  }
  @include screen(desktopWide) {
    padding-top: $space-xxl;
    padding-bottom: $space-ll;
  }
}

.control {
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $dark-alpha-60;
  transition: all 0.4s;

  &:hover,
  &:active,
  &:focus {
    color: $dark-alpha-80;
    transition: all 0.28s;
  }

  &:disabled {
    color: $dark-alpha-40;
    transition: all 0.28s;
  }
}

.controlRight {
  composes: control;
}

.controlLeft {
  composes: control;
  margin-right: $space-xs;
}

.footer {
  display: flex;
  padding: $space-ml;
  align-items: center;
  margin: 0 auto;
  @include screen(phone) {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  @include screen(tabPortrait) {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  @include screen(tabLandscape) {
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  @include screen(desktop) {
    justify-content: space-around;
    max-width: 92%;
    flex-direction: row;
  }
  @include screen(desktopWide) {
    justify-content: space-around;
    max-width: 92%;
    flex-direction: row;
  }
}

.captionContainer {
  flex: 1;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @include screen(phone) {
    margin-bottom: $space-ml;
    width: 100%;
  }
  @include screen(tabPortrait) {
    margin-bottom: $space-ml;
    width: 100%;
  }
  @include screen(tabLandscape) {
    margin-bottom: $space-ml;
    width: 100%;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}

.caption {
  padding: 0 24px;
  flex: 1;
  max-width: 100%;
}

.counter {
  min-width: 48px;
}

.controlContainer {
  min-width: 200px;
}
