@import 'src/tokens';

.parent {
  @include screen(phone) {
    padding-left: 12px;
    padding-right: 12px;
    // margin-bottom: $space-sm;
  }
  @include screen(tabPortrait) {
    padding-left: 24px;
    padding-right: 24px;
    // margin-bottom: $space-ml;
  }
  @include screen(tabLandscape) {
    padding-left: 24px;
    padding-right: 24px;
    // margin-bottom: $space-ml;
  }
  @include screen(desktop) {
    padding-left: 24px;
    padding-right: 24px;
    // margin-bottom: $space-ml;
  }
  @include screen(desktopWide) {
    padding-left: 24px;
    padding-right: 24px;
    // margin-bottom: $space-ml;
  }
}

.root {
  composes: col-sm-6 col-12 from global;
  composes: parent;
  padding-bottom: 0;
}

.breakout {
  composes: col-sm-4 col-10 from global;
  composes: parent;
}

.container {
  height: 100%;
}

.photo {
  background-color: $brand-primary-200;
  @include screen(phone) {
    min-height: 96px;
  }
  @include screen(tabPortrait) {
    min-height: 96px;
  }
  @include screen(tabLandscape) {
    min-height: 216px;
  }
  @include screen(desktop) {
    min-height: 216px;
  }
  @include screen(desktopWide) {
    min-height: 216px;
  }
}

.text {
  @include screen(phone) {
    // min-height: 96px;
  }
  @include screen(tabPortrait) {
    min-height: 0;
  }
  @include screen(tabLandscape) {
    min-height: 0;
  }
  @include screen(desktop) {
    min-height: 0;
  }
  @include screen(desktopWide) {
    min-height: 0;
  }
}

.identity {
  composes: text;
  padding: $space-vertical-ml;
  border-bottom: 1px solid $dark-alpha-30;
}

.identityBreakout {
  composes: text;
  background-color: transparent;
  padding-top: $space-m;
}

.name {
  font-weight: 600;
  text-transform: 'uppercase';
  margin: $space-stack-xs;
  color: $dark-hex-90;
}

.title {
  letter-spacing: normal;
  color: $dark-hex-70;
}