@import 'src/tokens';

.parent {
  padding-bottom: 0;

  @include screen(phone) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include screen(tabPortrait) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(tabLandscape) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktop) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktopWide) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.root {
  composes: col-sm-6 col-12 from global;
  composes: parent;
  transition: all .4s;
  &:first-child:last-child {
    width: 100% !important;
    max-width: 100%;
    flex: 100%;
  }

  &:hover {
    transition: all .28s;
  }
}

.breakout {
  composes: col-sm-4 col-12 from global;
  composes: parent;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-vertical-l;
  border-bottom: 1px solid $dark-alpha-30;
}

.bio {
  flex: 1;
  &:not(:last-child) {
    padding-right: $space-ml;
  }
}

.photo {
  margin-right: $space-ml;
  user-select: none;
  width: 128px;
  height: 144px;
  border-radius: 16px;
  background-color: $bg-banana-100;
  transition: all 0.4s;
  box-shadow: 0px 24px 20px -8px $brand-secondary-50;

  > div > div {
    padding-bottom: 144px !important;
    border-radius: 16px;
  }
  img {
    object-fit: cover !important;
    border-radius: 16px;
  }
}

.photoContainer {
  margin-right: $space-ml;
  width: 128px;
  height: 144px;
  border-radius: 16px;
  background-color: $bg-banana-100;
  transition: all 0.4s;
  box-shadow: 0px 24px 20px -8px $brand-secondary-50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userAvatar {
  width: 96px;
  height: 96px;
  color: $dark-alpha-20;
}

.identity {
  // padding: $space-vertical-ml;
  // border-bottom: 1px solid $dark-alpha-30;
}

.identityBreakout {
  padding: $space-vertical-m;
  background-color: transparent;
  border-bottom: 1px solid $dark-alpha-30;
}

.name {
  font-weight: 700;
  margin: $space-stack-xs;
  color: $dark-hex-90;
}

.title {
  letter-spacing: normal;
  color: $dark-hex-70;
}