@import 'src/tokens';

.root {
  composes: col-sm-4 col-6 from global;
  @include screen(phone) {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
  }
  @include screen(tabPortrait) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
  @include screen(tabLandscape) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
  @include screen(desktop) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
  @include screen(desktopWide) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
}

.breakout {
  composes: col-sm-3 col-6 from global;
  @include screen(phone) {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
  }
  @include screen(tabPortrait) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
  @include screen(tabLandscape) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
  @include screen(desktop) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
  @include screen(desktopWide) {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 32px;
  }
}

.photo {
  background-color: $brand-primary-200;
  @include screen(phone) {
    min-height: 96px;
  }
  @include screen(tabPortrait) {
    min-height: 96px;
  }
  @include screen(tabLandscape) {
    min-height: 216px;
  }
  @include screen(desktop) {
    min-height: 216px;
  }
  @include screen(desktopWide) {
    min-height: 216px;
  }
}

.identity {
  background-color: $brand-primary-200;
  padding: $space-inset-m;
}

.name {
  color: $bg-banana-200;
  font-weight: 700;
  text-transform: 'uppercase';
  margin: $space-stack-xs;
}

.title {
  color: $bg-banana-200;
  opacity: .70;
  letter-spacing: normal;
  font-weight: 600;
}