@import '~invoker-tokens/index.scss';

.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-alpha-100;
}

.loader {
  animation: rotate 1.2s infinite;
  height: 32px;
  width: 32px;
  position: relative;
  border-radius: 50%;
  // background: #eee;
}

.loader::before,
.loader::after {
  border-radius: 50%;
  content: '';
  display: block;
}

.loader::before {
  position: absolute;
  bottom: 0;
  top: -6px;
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;
}

.loader::after {
  position: absolute;
  top: calc(100% - 6px);
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;
}

.loader:before {
  animation: ball1 1.2s infinite;
  background-color: $brand-secondary-100;
}
.loader:after {
  animation: ball2 1.2s infinite;
  background-color: $brand-primary-100;
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes ball1 {
  0% {
    transform: scale(0.8);
    box-shadow: none;
  }
  45% {
    box-shadow: 0px 0px 0px 0px $brand-secondary-80;
  }
  50% {
    transform: scale(1.4);
  }
  55% {
    box-shadow: 0px 0px 0px 8px $brand-secondary-10;
  }
  100% {
    transform: scale(0.8);
    box-shadow: none;
  }
}

@keyframes ball2 {
  0% {
    transform: scale(1.4);
  }
  5% {
    box-shadow: 0px 0px 0px 8px $brand-primary-20;
  }
  45% {
    box-shadow: none;
  }
  50% {
    transform: scale(0.8);
  }
  55% {
    box-shadow: none;
  }
  85% {
    box-shadow: 0px 0px 0px 0px $brand-primary-80;
  }
  100% {
    transform: scale(1.4);
  }
}
