@import 'src/tokens';

.root {

}

.trigger {
  cursor: pointer;
  user-select: none;
  position: fixed;
  will-change: transform;
  bottom: $space-ml;
  right: $space-ml;
  height: 64px;
  width: 64px;
  background-color: $brand-primary-200;
  // background-image: linear-gradient(45deg, $brand-primary-80, $brand-primary-80);
  border-radius: 999999px;
  // color: $dark-alpha-80;
  color: $bg-banana-200;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  box-shadow: 0px 2px 4px 0px $dark-alpha-30, 0px 0px 0px 2px $brand-secondary-40;
  transition: all 0.40s;
  z-index: $layer-top;

  &:hover {
    box-shadow: 0px 8px 8px 0px $dark-alpha-40;
    transition: all 0.28s;
  }

  @include screen(phone) {
    display: flex;
  }
  @include screen(tabPortrait) {
    display: flex;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }
}

.dialogContainer {
  position: fixed;
  height: 100vh;
  z-index: $layer-top;
  background-color: $brand-secondary-200;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog {
  height: 100%;
  overflow: auto;
  color: $dark-alpha-80;
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  align-items: center;
  padding: $space-inset-l;
}

.brand {
  width: 20%;
  mix-blend-mode: darken;
}

.wrapper {
  width: 100%;
  padding: $space-vertical-ll;
}

.itemWrapper {
  width: 100%;
  padding: $space-vertical-m;
  font-size: $heading-5;
  border-bottom: 1px solid $dark-alpha-20;
  transition: all .40s;
  font-weight: 600;

  &:hover {
    border-bottom-color: $brand-primary-200;
    transition: all .28s;

    a {
      color: $brand-primary-300;
    }
  }
}

.active {
  color: $dark-alpha-80;
  li {
    border-bottom-color: $brand-primary-200;
  }
}

.close {
  width: 100%;
  height: 56px;
  background-color: $dark-alpha-80;
  color: $bg-banana-200;
  border-radius: 6px;
  display: flex;
  font-size: 16px;
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 56px;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-shadow: 0px 12px 20px -8px $dark-alpha-40;
}

.secondary {
  padding-left: $space-ml;
}