@import "src/tokens";

.root {
  padding: $space-vertical-ml;
  width: 100%;
}

.rootAlt {
  padding: $space-vertical-xs;
  width: 100%;
}

.container {
  padding: $space-s;
  width: 100%;
  background-color: $brand-secondary-10;
  border: 1px solid $brand-secondary-60;
}

.containerAlt {
  padding: $space-s $space-sm;
  width: 100%;
  background-color: $brand-secondary-10;
  border: 1px solid $brand-secondary-60;
  border-radius: 4px;
}

.iconContainer {
  width: 24px;
  height: 24px;
  color: $dark-hex-60;
  margin: $space-inline-xs;
}
