@import '~invoker-tokens/index.scss';

.root {
  cursor: pointer;
  // width: fit-content;
}

.secondaryLabel {
  margin-left: $space-xs;
  font-weight: 400;
}

.tertiaryLabel {
  float: right;
}

.stack {
  display: block;
}

// .inline {
//   display: inline;
// }
