@import 'src/tokens';

.root {
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border-style: solid;
  letter-spacing: normal;
  font-family: $font-primary;
  text-decoration: none;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.stretch {
  width: 100%;
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.childrenLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin: $space-inline-s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.medium {
  font-weight: $medium;
}

.bold {
  font-weight: $bold;
}

.small {
  border-width: 1px;
  padding: 6px 16px;
  font-size: $heading-6;
  line-height: 22px;
}

.large {
  border-width: 1px;
  padding: 11px 23px;
  font-size: $heading-5;
  line-height: 24px;
}

.smallAlt {
  border-width: 2px;
  padding: 5px 15px;
  font-size: $heading-6;
  line-height: 22px;
}

.largeAlt {
  border-width: 2px;
  padding: 10px 22px;
  font-size: $heading-5;
  line-height: 24px;
}

.primary {
  composes: root;
  border-color: $brand-primary-200;
  color: $light-alpha-100;
  background-color: $brand-primary-200;
  transition: all 0.4s ease;

  &:hover {
    border-color: $brand-primary-300;
    transition: all 0.24s ease;
    background-color: $brand-primary-300;
  }

  &.disabled {
    color: rgba(255, 255, 255, 0.6);
    user-select: none;
  }
}

.primaryLight {
  composes: root;
  border-color: $light-alpha-100;
  color: $dark-alpha-70;
  background-color: $light-alpha-100;
  transition: all 0.4s ease;

  &:hover {
    border-color: $light-alpha-100;
    transition: all 0.24s ease;
    background-color: $light-alpha-100;
  }

  &.disabled {
    color: $light-alpha-70;
    user-select: none;
  }
}

.primaryAlt {
  composes: root;
  border-color: $brand-secondary-100;
  color: $light-alpha-100;
  background-color: $brand-secondary-100;
  transition: all 0.4s ease;

  &:hover {
    border-color: $brand-secondary-200;
    transition: all 0.24s ease;
    background-color: $brand-secondary-200;
  }

  &.disabled {
    color: rgba(255, 255, 255, 0.6);
    user-select: none;
  }
}

.primaryAltMedium {
  composes: primaryAlt medium;
}

.primaryAltBold {
  composes: primaryAlt bold;
}

.primaryMedium {
  composes: primary medium;
}

.primaryMediumLight {
  composes: primaryLight medium;
}

.primaryBold {
  composes: primary bold;
}

.primaryBoldLight {
  composes: primaryLight bold;
}

.primary_full {
  composes: primary;
  width: 100%;
  text-align: center;
}

.secondary {
  composes: root;
  font-weight: $medium;
  border-width: 1px;
  border-color: $dark-alpha-60;
  background: transparent;
  color: $dark-alpha-70;
  transition: all 0.4s ease;

  &:hover {
    background: $dark-alpha-10;
    border-color: $dark-alpha-80;
    transition: all 0.24s ease;
  }

  &.disabled {
    color: $dark-alpha-50;
    border-color: $dark-alpha-30;
    user-select: none;
  }
}

.secondaryLight {
  composes: root;
  font-weight: $medium;
  border-width: 1px;
  border-color: $light-alpha-100;
  background: transparent;
  color: $light-alpha-90;
  transition: all 0.4s ease;

  &:hover {
    color: $light-alpha-100;
    border-color: $light-alpha-100;
    transition: all 0.24s ease;
  }

  &.disabled {
    color: $dark-alpha-50;
    border-color: $dark-alpha-30;
    user-select: none;
  }
}

.secondaryAlt {
  composes: root;
  font-weight: $bold;
  border-width: 2px;
  border-color: $dark-alpha-60;
  background: transparent;
  color: $dark-alpha-70;
  transition: all 0.4s ease;

  &:hover {
    background: $dark-alpha-10;
    border-color: $dark-alpha-80;
    transition: all 0.24s ease;
  }

  &.disabled {
    color: $dark-alpha-50;
    border-color: $dark-alpha-30;
    user-select: none;
  }
}

.secondaryAltLight {
  composes: root;
  font-weight: $bold;
  border-width: 2px;
  border-color: $light-alpha-80;
  background: transparent;
  color: $light-alpha-100;
  transition: all 0.4s ease;

  &:hover {
    color: $light-alpha-100;
    border-color: $light-alpha-100;
    transition: all 0.24s ease;
  }

  &.disabled {
    color: $light-alpha-70;
    border-color: $light-alpha-70;
    user-select: none;
  }
}

.outline {
  composes: root;
  color: $brand-primary-80;
  border-color: $brand-primary-80;
  background-image: linear-gradient(
    180deg,
    transparent 95%,
    $brand-primary-100 0
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.4s ease;
  background-color: transparent;

  &:hover {
    transition: all 0.24s ease;
    color: $brand-primary-100;
    border-color: $brand-primary-100;
    background-size: 100% 100%;
  }
}

.outline_full {
  composes: outline;
  width: 100%;
}
