@import 'src/tokens';

.root {
  background-color: $bg-banana-200;
  position: relative;
  &:last-child {
    padding-bottom: $space-huge;
  }
}

.hack {
  position: absolute;
  width: 100%;
  bottom: 100%;
  @include screen(phone) {
    height: 64px;
  }
  @include screen(tabPortrait) {
    height: 144px;
  }
  @include screen(tabLandscape) {
    height: 144px;
  }
  @include screen(desktop) {
    height: 144px;
  }
  @include screen(desktopWide) {
    height: 144px;
  }
}

.container {
  padding-top: $space-xl;
}

.sectionTitle {
  margin: $space-stack-ll;
  text-transform: uppercase;
  letter-spacing: 1.24px;
}

.title {
  margin-bottom: $space-ml;
  padding: $space-xs $space-s;
  background-color: $brand-tertiary-50;
  color: $dark-alpha-80;
  text-transform: uppercase;
  width: fit-content;
}

.speakerContainer {
  composes: row from global;
  margin-bottom: 24px;
  @include screen(phone) {
    margin-left: -12px;
    margin-right: -12px;
  }
  @include screen(tabPortrait) {
    margin-left: -24px;
    margin-right: -24px;
  }
  @include screen(tabLandscape) {
    margin-left: -24px;
    margin-right: -24px;
  }
  @include screen(desktop) {
    margin-left: -24px;
    margin-right: -24px;
  }
  @include screen(desktopWide) {
    margin-left: -24px;
    margin-right: -24px;
  }
}