@import "src/tokens";

.root {
  background-color: $bg-banana-200;
  @include screen(phone) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
  @include screen(tabPortrait) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(tabLandscape) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(desktop) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(desktopWide) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
}

.sectionTitle {
  font-family: $font-primary !important;
  margin-bottom: $space-xl;
}

.segment {
  display: flex;
  margin-bottom: $space-ll;
  @include screen(phone) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include screen(tabPortrait) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  @include screen(tabLandscape) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  @include screen(desktop) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  @include screen(desktopWide) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.segmentName {
  font-size: 24px;
  line-height: 32px;
  font-family: $font-secondary;
  font-weight: 700;

  @include screen(phone) {
    padding-right: 0;
    width: 100%;
  }
  @include screen(tabPortrait) {
    width: 100%;
    padding-right: 0;
  }
  @include screen(tabLandscape) {
    width: 40%;
    padding-right: $space-ll;
  }
  @include screen(desktop) {
    width: 40%;
    padding-right: $space-ll;
  }
  @include screen(desktopWide) {
    width: 40%;
    padding-right: $space-ll;
  }
}

.segmentFiles {
  flex: 1;
  @include screen(phone) {
    width: 100%;
  }
  @include screen(tabPortrait) {
    width: 100%;
  }
  @include screen(tabLandscape) {
    width: 60%;
  }
  @include screen(desktop) {
    width: 60%;
  }
  @include screen(desktopWide) {
    width: 60%;
  }
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: $space-m 0;
  border-bottom: 1px solid $dark-alpha-30;
}

.download {
  margin: 0 $space-s;
}

.downloadAlt {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: $space-m;
  }
}
