@import 'src/tokens';

.root {
  background-color: $bg-banana-200;
}

.container {
  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabPortrait) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabLandscape) {
    padding-top: $space-xxl;
    padding-bottom: $space-ll;
  }
  @include screen(desktop) {
    padding-top: $space-xxl;
    padding-bottom: $space-ll;
  }
  @include screen(desktopWide) {
    padding-top: $space-xxl;
    padding-bottom: $space-ll;
  }
}

.title {
  composes: col-sm-12 col-md-2 from global;
  padding-bottom: 0;
  @include screen(phone) {
    margin-bottom: 32px;
    min-width: unset;
  }
  @include screen(tabPortrait) {
    margin-bottom: 32px;
    min-width: 216px;
  }
  @include screen(tabLandscape) {
    margin-bottom: 0;
    min-width: 216px;
  }
  @include screen(desktop) {
    margin-bottom: 0;
    min-width: 216px;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
    min-width: 216px;
  }
}

.organizerContainer {
  @include screen(phone) {
    flex-direction: column;
  }
  @include screen(tabPortrait) {
    flex-direction: column;
  }
  @include screen(tabLandscape) {
    flex-direction: row;
  }
  @include screen(desktop) {
    flex-direction: row;
  }
  @include screen(desktopWide) {
    flex-direction: row;
  }
}

.columnRow {
  composes: row from global;
  flex: 6;
  margin-left: -24px;
  margin-right: -24px;
  justify-content: center;
}

.logoContainer {
  composes: col-6 col-sm-6 col-md-4 from global;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0;
  @include screen(phone) {
    margin-bottom: 24px;
  }
  @include screen(tabPortrait) {
    margin-bottom: 24px;
  }
  @include screen(tabLandscape) {
    margin-bottom: 0;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}

.logo {
  display: block;
  min-width: 120px;
}

.logoUniv {
  margin-top: -32px;
}