@import 'src/tokens';

.root {
  background-color: $brand-secondary-200;
}

.container {
  height: 100%;
  padding-top: $space-xl;
  padding-bottom: $space-xl;
}

.title {
  margin: $space-stack-ml;
}

.tagline {
  display: block;
  margin: $space-stack-l;
}

.overview {
  max-width: 720px;
  margin: 0;
}