@import 'src/tokens';

.root {
  background-color: $brand-secondary-200;
  padding-bottom: $space-ll;
}

.gridContainer {
  display: grid;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  padding-top: $space-ml;
  @include screen(phone) {
    padding-bottom: $space-ll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px 72px;
  }
  @include screen(tabPortrait) {
    padding-bottom: $space-ll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px 72px;
  }
  @include screen(tabLandscape) {
    padding-bottom: $space-xxl;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px;
  }
  @include screen(desktop) {
    padding-bottom: $space-xxl;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px;
  }
  @include screen(desktopWide) {
    padding-bottom: $space-xxl;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px;
  }
}

.photo {
  filter: grayscale(.28);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $brand-primary-200;
  transition: all .4s;
  border-radius: 2px;
}

.photo1 {
  composes: photo;
  background-image: url('/solo-glance/mangkunegara.jpg');
  @include screen(phone) {
    grid-area: 1 / 1 / 4 / 5;
  }
  @include screen(tabPortrait) {
    grid-area: 1 / 1 / 4 / 5;
  }
  @include screen(tabLandscape) {
    grid-area: 1 / 1 / 5 / 4;
  }
  @include screen(desktop) {
    grid-area: 1 / 1 / 5 / 4;
  }
  @include screen(desktopWide) {
    grid-area: 1 / 1 / 5 / 4;
  }
}

.photo2 {
  composes: photo;
  background-image: url('/solo-glance/skk39.jpg');
  @include screen(phone) {
    grid-area: 1 / 5 / 4 / 9;
  }
  @include screen(tabPortrait) {
    grid-area: 1 / 5 / 4 / 9;
  }
  @include screen(tabLandscape) {
    grid-area: 1 / 4 / 5 / 7;
  }
  @include screen(desktop) {
    grid-area: 1 / 4 / 5 / 7;
  }
  @include screen(desktopWide) {
    grid-area: 1 / 4 / 5 / 7;
  }
}

.photo3 {
  composes: photo;
  background-image: url('/solo-glance/skk168.jpg');
  @include screen(phone) {
    grid-area: 4 / 5 / 7 / 9;
  }
  @include screen(tabPortrait) {
    grid-area: 4 / 5 / 7 / 9;
  }
  @include screen(tabLandscape) {
    grid-area: 1 / 7 / 5 / 10;
  }
  @include screen(desktop) {
    grid-area: 1 / 7 / 5 / 10;
  }
  @include screen(desktopWide) {
    grid-area: 1 / 7 / 5 / 10;
  }
}

.photo4 {
  composes: photo;
  background-image: url('/solo-glance/surabi.jpg');
  @include screen(phone) {
    grid-area: 4 / 1 / 7 / 5;
  }
  @include screen(tabPortrait) {
    grid-area: 4 / 1 / 7 / 5;
  }
  @include screen(tabLandscape) {
    grid-area: 5 / 1 / 9 / 4;
  }
  @include screen(desktop) {
    grid-area: 5 / 1 / 9 / 4;
  }
  @include screen(desktopWide) {
    grid-area: 5 / 1 / 9 / 4;
  }
}

.photo5 {
  composes: photo;
  background-image: url('/solo-glance/bst.jpg');
  @include screen(phone) {
    grid-area: 7 / 1 / 10 / 5;
  }
  @include screen(tabPortrait) {
    grid-area: 7 / 1 / 10 / 5;
  }
  @include screen(tabLandscape) {
    grid-area: 5 / 7 / 9 / 10;
  }
  @include screen(desktop) {
    grid-area: 5 / 7 / 9 / 10;
  }
  @include screen(desktopWide) {
    grid-area: 5 / 7 / 9 / 10;
  }
}

.photo6 {
  composes: photo;
  background-image: url('/solo-glance/triwindu-market.jpg');
  @include screen(phone) {
    grid-area: 7 / 5 / 10 / 9;
  }
  @include screen(tabPortrait) {
    grid-area: 7 / 5 / 10 / 9;
  }
  @include screen(tabLandscape) {
    grid-area: 5 / 4 / 9 / 7;
  }
  @include screen(desktop) {
    grid-area: 5 / 4 / 9 / 7;
  }
  @include screen(desktopWide) {
    grid-area: 5 / 4 / 9 / 7;
  }
}

.row {
  composes: row from global;
  position: relative;
  &:not(:last-child) {
    padding-bottom: $space-ll;
  }
}

.subheading {
  composes: col-lg-3 col-12 from global;
  background-color: $brand-secondary-200;
  width: 100%;
  height: fit-content;
  font-family: $font-primary;
  z-index: 9;

  @include screen(phone) {
    position: sticky;
    top: 116px;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
  }
  @include screen(tabPortrait) {
    position: sticky;
    top: 120px;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
  }
  @include screen(tabLandscape) {
    position: sticky;
    top: 120px;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
  }
  @include screen(desktop) {
    position: sticky;
    top: 164px;
    padding-top: 0px;
    padding-bottom: $space-l;
  }
  @include screen(desktopWide) {
    position: sticky;
    top: 164px;
    padding-top: 0px;
    padding-bottom: $space-l;
  }
}

.article {
  composes: col-lg-8 col-12 from global;
}

.details {
  &:not(:last-child) {
    padding-bottom: $space-l;
  }
}

.placeName {
  margin-bottom: $space-m;
}

.listContainer {
  padding-top: $space-ml;
  padding-bottom: $space-s;
}

.eat {
  list-style: none;
  margin-left: 0px;
  border-bottom: 1px solid $dark-alpha-20;
  padding-bottom: $space-m;
  margin-bottom: $space-m;
}

.eatPlace {
  width: 100%;
  box-shadow: inset 4px 0px 0px 0px $brand-tertiary-200;
  padding-left: $space-ml;
}

.eatHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &:not(:last-child) {
    margin-bottom: $space-xs;
  }
}

.eatName {
  font-weight: 600;
  margin-bottom: 0px;
}

.eatAddress {
  margin-bottom: 0;
}

.eatPhoneLink {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.eatIcon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.eatCall {
  margin-bottom: 0px;
}