@import "src/tokens";

.root {
  min-height: 56vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100vw;
}

.overlayColor {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.54);
}

.container {
  height: 100%;
  z-index: 9;

  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
    height: unset;
  }
  @include screen(tabPortrait) {
    padding-top: $space-huge;
    padding-bottom: $space-huge;
    height: unset;
  }
  @include screen(tabLandscape) {
    padding-top: $space-huge;
    padding-bottom: $space-huge;
    height: unset;
  }
  @include screen(desktop) {
    padding-top: $space-huge;
    padding-bottom: $space-huge;
    height: calc(100vh - 144px);
  }
  @include screen(desktopWide) {
    padding-top: $space-huge;
    padding-bottom: $space-huge;
    height: calc(100vh - 240px);
  }
}

.title {
  margin: $space-stack-m;
  padding-bottom: 4px;
  padding-top: 4px;
  background-size: 60%;
  color: $brand-secondary-200;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
}

.tagline {
  display: block;
  margin: $space-stack-l;
  font-style: italic;
  color: $light-alpha-80;
}

.overview__container {
  margin: $space-stack-ll;
  max-width: 480px;
  color: $light-alpha-80;
}

.overview {
  margin: $space-stack-sm;
}

.overline {
  margin: $space-stack-s;
}

.cloud {
  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: initial;
  }
  @include screen(desktop) {
    display: initial;
  }
  @include screen(desktopWide) {
    display: initial;
  }
}

.cloud1 {
  composes: cloud;
  position: absolute;
  width: 380px;
  right: 40px;
  top: 2%;
}

.cloud2 {
  composes: cloud;
  position: absolute;
  width: 360px;
  right: 160px;
  top: 28%;
}

.cloud3 {
  composes: cloud;
  position: absolute;
  width: 292px;
  right: -60px;
  top: 20%;
}

.beforeLoad {
  display: block;
  filter: grayscale(80%);
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
}

.imageCover {
  opacity: 0.88;
  @include screen(phone) {
    height: 64vh;
  }
  @include screen(tabPortrait) {
    height: 64vh;
  }
  @include screen(tabLandscape) {
    height: calc(100vh - 144px);
  }
  @include screen(desktop) {
    height: calc(100vh - 144px);
  }
  @include screen(desktopWide) {
    height: calc(100vh - 240px);
  }
}

.video {
  display: block;
  filter: grayscale(92%);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  opacity: 0.88;
  background-color: rgba(232, 194, 61, 1);
}

.cta {
  @include screen(phone) {
    width: 100%;
    margin-bottom: $space-m;
  }
  @include screen(tabPortrait) {
    width: fit-content;
    margin-bottom: unset;
    &:first-child {
      border-right: 1px solid rgb(0, 0, 0);
    }
  }
  @include screen(tabLandscape) {
    width: fit-content;
    margin-bottom: unset;
    &:first-child {
      border-right: 1px solid rgb(0, 0, 0);
    }
  }
  @include screen(desktop) {
    width: fit-content;
    margin-bottom: unset;
    &:first-child {
      border-right: 1px solid rgb(0, 0, 0);
    }
  }
  @include screen(desktopWide) {
    width: fit-content;
    margin-bottom: unset;
    &:first-child {
      border-right: 1px solid rgb(0, 0, 0);
    }
  }
}
