@import 'invoker-tokens/index.scss';

.root {
  display: inline-flex;
  flex-direction: column;
  @include screen(phone) {
    flex: auto;
    width: 100%;
    max-height: 36%;
    min-width: 100%;
    padding-top: $space-ll;
    padding-right: $space-ml;
    padding-bottom: $space-ml;
    padding-left: $space-ml;
    justify-content: flex-end;
  }
  @include screen(tabPortrait) {
    flex: auto;
    max-height: 36%;
    width: 100%;
    min-width: 100%;
    padding-top: $space-ll;
    padding-right: $space-ml;
    padding-bottom: $space-ml;
    padding-left: $space-ml;
    justify-content: flex-end;
  }
  @include screen(tabLandscape) {
    position: absolute;
    top: 0;
    max-height: 100vh;
    height: 100vh;
    width: 40%;
    min-width: 40%;
    padding-top: 80px;
    padding-right: $space-ll;
    padding-bottom: $space-ll;
    justify-content: space-between;
  }
  @include screen(desktop) {
    max-height: 100vh;
    height: 100vh;
    width: 40%;
    min-width: 40%;
    padding-top: 80px;
    padding-right: $space-ll;
    padding-bottom: $space-ll;
    justify-content: space-between;
  }
  @include screen(desktopWide) {
    max-height: 100vh;
    height: 100vh;
    width: 40%;
    min-width: 40%;
    padding-top: 80px;
    padding-right: $space-ll;
    padding-bottom: $space-ll;
    justify-content: space-between;
  }
}
