@import 'invoker-tokens/index.scss';

.root {
  padding: $space-inset-m;
  color: $dark-alpha-70;
}

.highlighted {
  background: $dark-alpha-10;
}

.selected {
  font-weight: 500;
  color: $dark-alpha-80;
}
