@import 'src/tokens';

.keynote {
  padding: $space-ml 0;
  width: fit-content;
  // border-radius: $radius-l;
  // border-bottom: 1px solid $dark-alpha-30;
  // box-shadow: 0px 0px 2px $dark-alpha-10, 0px 12px 16px -4px $dark-alpha-10;
}

.name {
  color: $dark-hex-80;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.job {
  color: $dark-hex-70;

  &:not(:last-child) {
    margin-bottom: $space-xs;
  }
  &:last-child {
    margin-bottom: $space-sm;
  }
}