@import 'src/tokens';

.keynote {
  composes: col-12 col-sm-12 col-md-6 col-lg-4 from global;
  padding-bottom: 0;
  margin-bottom: $space-ml;
  @include screen(phone) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include screen(tabPortrait) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(tabLandscape) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktop) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktopWide) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.profile {
  padding-top: $space-l;
  padding-bottom: $space-l;
  border-bottom: 1px solid $dark-alpha-20;
  @include screen(phone) {
    min-height: 0px;
  }
  @include screen(tabPortrait) {
    min-height: 0px;
  }
  @include screen(tabLandscape) {
    min-height: 232px;
  }
  @include screen(desktop) {
    min-height: 232px;
  }
  @include screen(desktopWide) {
    min-height: 232px;
  }
}

.name {
  color: $dark-hex-80;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.job {
  color: $dark-hex-70;

  &:not(:last-child) {
    margin-bottom: $space-xs;
  }
  &:last-child {
    margin-bottom: $space-sm;
  }
}

.number {
  text-transform: uppercase;
  background-color: $brand-tertiary-80;
  padding: $space-s;
  color: $dark-alpha-80;
  text-align: left;
  font-weight: 600;
  margin-bottom: $space-m;
}

.photo {
  width: 200px;
  min-width: 128px;

  > div > div {
    border-radius: 20px;
  }

  img {
    border-radius: 20px;
  }
}