@import 'invoker-tokens/index.scss';

.root {
  position: relative;
  width: 100%;
  height: 0px;
  border-radius: 99999px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: transparent;
}

.progressContainer {
  height: 4px;
  top: 12px;
  bottom: 12px;
  right: 0;
  left: 0;
  overflow: hidden;
  background: transparent;
}

.progress {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $brand-primary-200;
}

.light {
  background: rgba(255, 255, 255, 0.1);
}

.dark {
  background: $dark-alpha-20;
}

.thumb {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  top: 0px;
  width: 28px;
  height: 28px;
  border: 1px solid $dark-alpha-30;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: $radius-xxl;
  background: $light-alpha-100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.affordance {
  width: 1px;
  height: 12px;
  background-color: #bbbbbb;
  &:not(:last-child) {
    margin: $space-inline-xxs;
  }
}
