@import '~invoker-tokens/index.scss';

.root {
  cursor: pointer;
  position: relative;
  appearance: none;
  background: $light-alpha-100;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 999px;
  outline: none;
  transition: all 0.36s;
  height: 22px;
}

.root:focus,
.root:active {
  border-color: $brand-primary-200;
  transition: all 0.28s;
}

.normal {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  transition: all 0.28s;
}

.normal::after {
  content: '';
  position: absolute;
  border-radius: 9999px;
  width: 6px;
  height: 6px;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  background-color: transparent;
  transition: all 0.36s;
}

.normal:hover::after {
  background-color: rgba(235, 235, 235, 1);
  transition: all 0.28s;
}

.normal:checked::after {
  background-color: $brand-primary-200;
  transition: all 0.28s;
}

.large {
  width: 22px;
  min-width: 22px;
  height: 22px;
  min-height: 22px;
}

.large::after {
  content: '';
  position: absolute;
  background-color: transparent;
  border-radius: 9999px;
  width: 8px;
  height: 8px;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  transition: all 0.36s;
}

.large:hover::after {
  background-color: rgba(235, 235, 235, 1);
  transition: all 0.28s;
}

.large:checked::after {
  background-color: $brand-primary-200;
  transition: all 0.28s;
}

.disabled:hover,
.disabled:focus,
.disabled:active {
  border-color: rgba(235, 235, 235, 1);
  transition: all 0.28s;
}
