@import 'invoker-tokens/index.scss';

.root {
  composes: container-bleed from global;
}

.row {
  composes: row from global;
}

.post {
  composes: col-sm-6 col-md-4 from global;
  padding: 12px;
  border-radius: 16px;
  transition: all 0.4s;

  &:hover {
    transition: all 0.28s;
    background: $bg-rose-100;
  }
}

.imageContainer {
  width: 100%;
  height: 280px;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 12px;
  transition: all 0.4s;

  &:hover {
    transform: translateY(-24px);
    transition: all 0.28s;
    box-shadow: 0px 24px 64px -24px $brand-secondary-200;
  }
}
