@import 'src/tokens';

.root {
  background-color: $bg-banana-200;
}

.container {
  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabPortrait) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabLandscape) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(desktop) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(desktopWide) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
}

.opportunities {
  composes: row from global;
  padding-top: 64px;
}

.opportunity {
  composes: col-sm-6 from global;
  padding-bottom: 0;
  @include screen(phone) {
    margin: $space-stack-l;
  }
  @include screen(tabPortrait) {
    padding-right: $space-ll;
    margin: $space-stack-l;
  }
  @include screen(tabLandscape) {
    padding-right: $space-ll;
    margin: $space-stack-l;
  }
  @include screen(desktop) {
    padding-right: $space-ll;
    margin: $space-stack-l;
  }
  @include screen(desktopWide) {
    padding-right: $space-ll;
    margin: $space-stack-l;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  width: 48px;
}

.iconContainer {
  margin: $space-stack-sm;
  height: 48px;
  display: flex;
  align-items: center;
}