@import '~invoker-tokens/index.scss';

.root {
  width: 100%;
}

.rowHeader {
  padding: $space-squish-sm;
  text-align: left;
  color: $dark-alpha-60;
  text-transform: capitalize;
  font-weight: 500;
}
