@import "src/tokens";

.keynote {
  composes: col-12 from global;
  padding-bottom: 0;
  margin-bottom: $space-ll;
  @include screen(phone) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include screen(tabPortrait) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(tabLandscape) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktop) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktopWide) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.keynoteAlt {
  composes: col-12 col-sm-12 col-md-6 col-lg-6 from global;
  padding-bottom: 0;
  margin-bottom: $space-ml;
  @include screen(phone) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @include screen(tabPortrait) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(tabLandscape) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktop) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include screen(desktopWide) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.profile {
  padding-bottom: $space-l;
  border-bottom: 1px solid $dark-alpha-20;
  @include screen(phone) {
    min-height: 0px;
  }
  @include screen(tabPortrait) {
    min-height: 0px;
  }
  @include screen(tabLandscape) {
    min-height: 124px;
  }
  @include screen(desktop) {
    min-height: 124px;
  }
  @include screen(desktopWide) {
    min-height: 124px;
  }
}

.container {
  display: flex;
  @include screen(phone) {
    align-items: flex-start;
  }
  @include screen(tabPortrait) {
    align-items: flex-start;
  }
  @include screen(tabLandscape) {
    align-items: flex-start;
  }
  @include screen(desktop) {
    align-items: flex-start;
  }
  @include screen(desktopWide) {
    align-items: flex-start;
  }
}

.bio {
  padding-right: $space-ml;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // min-height: 240px;
  // max-height: 320px;
  margin-top: auto;
  margin-bottom: auto;
}

.name {
  color: $dark-hex-80;
  font-family: $font-secondary;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @include screen(phone) {
    font-size: $heading-5;
  }
  @include screen(tabPortrait) {
    font-size: $heading-3;
  }
  @include screen(tabLandscape) {
    font-size: $heading-3;
  }
  @include screen(desktop) {
    font-size: $heading-3;
  }
  @include screen(desktopWide) {
    font-size: $heading-3;
  }
}

.nameAlt {
  color: $dark-hex-80;
  font-family: $font-primary;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.job {
  color: $dark-hex-70;
  margin-bottom: $space-sm;
}

.description {
  padding-right: $space-ll;
  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: block;
  }
  @include screen(desktop) {
    display: block;
  }
  @include screen(desktopWide) {
    display: block;
  }
}

.mobileDescription {
  padding-top: $space-ml;
  @include screen(phone) {
    display: block;
  }
  @include screen(tabPortrait) {
    display: block;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }
}

.number {
  text-transform: uppercase;
  background-color: $brand-tertiary-80;
  padding: $space-s;
  color: $dark-alpha-80;
  text-align: left;
  font-weight: 600;
  margin-bottom: $space-l;
}

.photo {
  width: 240px;
  // max-width: 240px;

  @include screen(phone) {
    min-width: 128px;
    max-width: 128px;
    height: 160px;
  }
  @include screen(tabPortrait) {
    min-width: 128px;
    max-width: 192px;
    height: 240px;
  }
  @include screen(tabLandscape) {
    min-width: 240px;
    height: 320px;
  }
  @include screen(desktop) {
    min-width: 240px;
    height: 320px;
  }
  @include screen(desktopWide) {
    min-width: 240px;
    height: 320px;
  }

  > div > div {
    border-radius: 4px;
    @include screen(phone) {
      padding-bottom: 160px !important;
    }
    @include screen(tabPortrait) {
      padding-bottom: 240px !important;
    }
    @include screen(tabLandscape) {
      padding-bottom: 320px !important;
    }
    @include screen(desktop) {
      padding-bottom: 320px !important;
    }
    @include screen(desktopWide) {
      padding-bottom: 320px !important;
    }
  }

  img {
    object-fit: cover !important;
    border-radius: 4px;
  }
}
