@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Thin.otf') format('opentype');
  font-display: auto;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-ExtraLight.otf') format('opentype');
  font-display: auto;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Light.otf') format('opentype');
  font-display: auto;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Regular.otf') format('opentype');
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Book.otf') format('opentype');
  font-display: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Medium.otf') format('opentype');
  font-display: auto;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Bold.otf') format('opentype');
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Black.otf') format('opentype');
  font-display: auto;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'geomanist';
  src: url('Geomanist-Ultra.otf') format('opentype');
  font-display: auto;
  font-weight: 900;
  font-style: normal;
}
