@import '~invoker-tokens/index.scss';

.root {
  width: 100%;
  padding: $space-vertical-m;
  font-size: $heading-5;
  text-align: center;
  font-weight: 500;
  z-index: 99;
}

.positive {
  composes: root;
  color: $dark-alpha-80;
  background-color: $sys-success-100;
}

.warning {
  composes: root;
  color: $dark-alpha-80;
  background-color: $sys-warning-100;
}

.critical {
  composes: root;
  color: $light-alpha-100;
  background-color: $sys-danger-200;
  font-weight: 500;
}
