@import 'invoker-tokens/index.scss';

.root {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $dark-alpha-20;
}

.loader {
  position: absolute;
  background-color: $dark-hex-80;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: loading 0.8s infinite linear;
}

@keyframes loading {
  0% {
    transform: scale(0, 1);
    transform-origin: 0% 50%;
  }
  70% {
    transform: scale(1, 1);
    transform-origin: 0% 50%;
  }
  71% {
    transform-origin: 100% 50%;
  }

  100% {
    transform: scale(0, 1);
    transform-origin: 100% 50%;
  }
}
