@import 'invoker-tokens/index.scss';

.root {
  font-weight: 500;
  display: block;
  padding-top: $space-s;
  color: $dark-alpha-60;
}

.neutral {
  color: $dark-alpha-60;
}

.critical {
  color: $sys-danger-100;
}

.positive {
  color: $brand-primary-200;
}
