@import 'src/tokens';

.root {
  composes: row from global;
  &:not(:last-child) {
    margin-bottom: $space-m;
  }
}

.overview {
  composes: col-12 col-md-4 from global;
  min-width: 216px;
  padding-right: 24px;
  color: $brand-tertiary-200;
}

.details {
  composes: col-12 col-md-8 from global;
  flex-wrap: wrap;
}