@import 'invoker-tokens/index.scss';

.root:not(:empty) {
  background: $light-alpha-100;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  &:not(:first-child) {
    border-top: 0px;
  }
}

.item {
  cursor: pointer;
  color: $dark-alpha-70;
  padding: $space-sm $space-ml;
  transition: all 0.36s ease;

  &:hover,
  &:active,
  &:focus {
    background: $dark-alpha-10;
    transition: all 0.28s ease;
  }
}

.limitedHeight {
  max-height: 280px;
  overflow-y: scroll;
}
