@import 'src/tokens';

.root {
  background-color: $bg-banana-200;
  background-image: url('./../../assets/images/patterns/dots.png');
  background-position: center -96px;
  background-repeat: no-repeat;
  background-size: 318px 136px;
  position: relative;
  overflow: hidden;
}

.container {
  padding-top: 96px;
  padding-bottom: 96px;
  position: relative;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 64px;
}

.schedules {
  width: 720px;
  margin-bottom: $space-ll;
}

.schedule {
  composes: row from global;
  &:not(:last-child) {
    margin: $space-stack-m;
  }
}

.overview {
  composes: col-12 col-md-4 from global;
  min-width: 216px;
  padding-right: 24px;
}

.details {
  composes: col-12 col-md-8 from global;
  flex-wrap: wrap;
}

.item {
  padding-bottom: $space-m;
  border-bottom: 1px solid $dark-alpha-20;
  &:not(:first-child) {
    padding-top: $space-m;
  }
}

.cloud {
  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: initial;
  }
  @include screen(desktopWide) {
    display: initial;
  }
}

.cloud1 {
  composes: cloud;
  position: absolute;
  width: 320px;
  right: -80px;
  top:8%;
}

.cloud3 {
  composes: cloud;
  position: absolute;
  width: 280px;
  right: -128px;
  top: 25%;
}

.cloud2 {
  composes: cloud;
  position: absolute;
  width: 264px;
  left: -48px;
  top: 26%;
}

.cloud4 {
  composes: cloud;
  position: absolute;
  width: 292px;
  left: -64px;
  top: 5%;
}

.cloud5 {
  composes: cloud;
  position: absolute;
  width: 160px;
  left: -64px;
  bottom: 16%;
}

.cloud6 {
  composes: cloud;
  position: absolute;
  width: 160px;
  right: 0px;
  bottom: 14%;
}

.containerFooter {
  width: fit-content !important;
}