@import 'invoker-tokens/index.scss';

.root {
  min-width: 72px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $dark-hex-80;
  padding: $space-s $space-ml;
}

.brandContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  mix-blend-mode: darken;
}

.brand {
  height: 76px;
  color: $dark-alpha-70;
}
