@font-face {
  font-family: 'Muller';
  src: url('Muller-Thin.otf') format('opentype');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller-ExtraBold.otf') format('opentype');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
