@import 'src/tokens';

.root {
  composes: row from global;
  position: sticky;
  padding: $space-vertical-ml;
  border-bottom: 2px solid $dark-alpha-20;
  background: $bg-banana-200;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include screen(phone) {
    top: 112px;
  }
  @include screen(tabPortrait) {
    top: 112px;
  }
  @include screen(tabLandscape) {
    top: 120px;
  }
  @include screen(desktop) {
    top: 120px;
  }
  @include screen(desktopWide) {
    top: 120px;
  }
}

.date-container {
  composes: col-12 col-sm-6 from global;
  padding-bottom: 0;
}

.date {
  @include screen(phone) {
    font-size: 24px;
  }
  @include screen(tabPortrait) {
    font-size: 24px;
  }
  @include screen(tabLandscape) {
    font-size: $heading-2;
  }
  @include screen(desktop) {
    font-size: $heading-2;
  }
  @include screen(desktopWide) {
    font-size: $heading-2;
  }
}

.day {
  composes: col-12 col-sm-6 from global;
  padding-bottom: 0;
  @include screen(phone) {
    font-size: 24px;
  }
  @include screen(tabPortrait) {
    font-size: 24px;
  }
  @include screen(tabLandscape) {
    font-size: $heading-2;
  }
  @include screen(desktop) {
    font-size: $heading-2;
  }
  @include screen(desktopWide) {
    font-size: $heading-2;
  }
}

.theme {
  padding-left: $space-ml;
  @include screen(phone) {
    font-size: 18px;
  }
  @include screen(tabPortrait) {
    font-size: 18px;
  }
  @include screen(tabLandscape) {
    font-size: $heading-3;
  }
  @include screen(desktop) {
    font-size: $heading-3;
  }
  @include screen(desktopWide) {
    font-size: $heading-3;
  }
}

.day {
  @include screen(phone) {
    text-align: left;
  }
  @include screen(tabPortrait) {
    text-align: left;
  }
  @include screen(tabLandscape) {
    text-align: right;
  }
  @include screen(desktop) {
    text-align: right;
  }
  @include screen(desktopWide) {
    text-align: right;
  }
}