@import 'src/tokens';

.root {
  composes: row from global;
  position: sticky;
  top: 96px;
  padding: $space-vertical-ml;
  border-bottom: 2px solid $dark-alpha-20;
  background: $bg-banana-200;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.date,
.day {
  composes: col-12 col-sm-6 from global;
  padding-bottom: 0;
}