@import 'src/tokens';

.root {
  padding: $space-vertical-ml;
  width: 100%;
  &:not(:last-child) {
    border-bottom: 1px solid $dark-alpha-20;
  }
}

.title {
  &:not(:last-child) {
    margin: $space-stack-sm;
  }
}