@import 'invoker-tokens/index.scss';

.root {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  border: 1px solid $dark-alpha-30;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: $radius-xxl;
  background: $light-alpha-100;
  display: flex;
  justify-content: center;
  align-items: center;
  @include screen(phone) {
    width: 48px;
    height: 48px;
    top: -10px;
    transform: translate3d(-10px, 0, 0);
  }
  @include screen(tabPortrait) {
    width: 48px;
    height: 48px;
    top: -10px;
    transform: translate3d(-10px, 0, 0);
  }
  @include screen(tabLandscape) {
    width: 48px;
    height: 48px;
    top: -10px;
    transform: translate3d(-10px, 0, 0);
  }
  @include screen(desktop) {
    width: 28px;
    height: 28px;
    top: 0px;
    transform: none;
  }
  @include screen(desktopWide) {
    width: 28px;
    height: 28px;
    top: 0px;
    transform: none;
  }
}

.affordance {
  width: 1px;
  height: 12px;
  background-color: #bbbbbb;
  &:not(:last-child) {
    margin: $space-inline-xxs;
  }
}
