@import 'src/tokens';

.root {
  background-color: $dark-hex-80;
  color: $bg-banana-200;
}

.container {
  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabPortrait) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(tabLandscape) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(desktop) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
  @include screen(desktopWide) {
    padding-top: $space-xxl;
    padding-bottom: $space-xxl;
  }
}

.footer {
  composes: row from global;
}

.contact {
  composes: col-12 col-md-8 from global;
  @include screen(phone) {
    margin-bottom: $space-l;
  }
  @include screen(tabPortrait) {
    margin-bottom: $space-l;
  }
  @include screen(tabLandscape) {
    margin-bottom: 0;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}

.socmed {
  composes: col-12 col-md-4 from global;
  @include screen(phone) {
    justify-content: flex-start;
  }
  @include screen(tabPortrait) {
    justify-content: flex-start;
  }
  @include screen(tabLandscape) {
    justify-content: flex-end;
  }
  @include screen(desktop) {
    justify-content: flex-end;
  }
  @include screen(desktopWide) {
    justify-content: flex-end;
  }
}

.pattern {
  width: 100%;
  height: 72px;
  background-image: url('./../../assets/images/patterns/pattern.png');
  background-position: bottom;
  background-size: 240px;
  opacity: 0.80;
  mix-blend-mode: color-burn;
}