@import 'src/tokens';

.root {
  background-color: $bg-banana-200;
  position: relative;
  overflow: hidden;
}

.container {
  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabPortrait) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
  }
  @include screen(tabLandscape) {
    padding-top: $space-xxl;
    padding-bottom: $space-xl;
  }
  @include screen(desktop) {
    padding-top: $space-xxl;
    padding-bottom: 144px;
  }
  @include screen(desktopWide) {
    padding-top: $space-xxl;
    padding-bottom: 144px;
  }
}

.double {
  composes: row from global;
  padding-top: $space-ll;
}

.mainSection {
  max-width: 720px;
}

.section {
  composes: col-md-6 from global;

  &:not(:last-child) {
    margin-bottom: $space-ml;
  }

  @include screen(phone) {
  }
  @include screen(tabPortrait) {
  }
  @include screen(tabLandscape) {
    padding-right: 4%;
  }
  @include screen(desktop) {
    padding-right: 4%;
  }
  @include screen(desktopWide) {
    padding-right: 4%;
  }
}

.title {
  margin: $space-stack-ll;
}

.content {
  &:not(:last-child) {
    margin-bottom: $space-ml;
  }
}

.dropcap {
  float: left;
  font-family: $font-display;
  font-size: 75px;
  line-height: 72px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.cloud {
  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: initial;
  }
  @include screen(desktopWide) {
    display: initial;
  }
}

.cloud1 {
  composes: cloud;
  position: absolute;
  width: 480px;
  right: -80px;
  top: 10%;
}

.cloud2 {
  composes: cloud;
  position: absolute;
  width: 280px;
  right: 96px;
  top: 31%;
}

.cloud3 {
  composes: cloud;
  position: absolute;
  width: 280px;
  right: -128px;
  top: 28%;
}