@import '~invoker-tokens/index.scss';

.root {
  overflow: hidden;
  position: relative;
  will-change: transform;
}

.circle {
  border-radius: $radius-xxl;
}

.square {
  border-radius: 0;
}

.rounded {
  border-radius: $radius-l;
}

.wash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.03);
  pointer-events: none;
}
