@import '~invoker-tokens/index.scss';

.root {
  width: 100%;
  margin: $space-stack-ll;
}

.table {
  width: 100%;
}

.tableHeader {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.tableRow {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.message {
  color: $dark-alpha-50;
  padding: $space-vertical-ml;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
