@import 'src/tokens';

.root {
  background-color: $bg-banana-200;
}

.container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding-top: $space-huge;
}

.buttonContainer {
  flex: 1;
  margin-right: 4px;
}

.button {
  flex: 1;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-right: $space-xs;
}