@import 'src/tokens';

.root {
  background-color: $brand-primary-200;
}

.container {
  display: inline-flex;
  @include screen(phone) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @include screen(tabPortrait) {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  @include screen(tabLandscape) {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  @include screen(desktop) {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  @include screen(desktopWide) {
    padding-top: 144px;
    padding-bottom: 144px;
  }
}

.title {
  margin: $space-stack-m;
}

.description {
  font-weight: 600;
  @include screen(phone) {
    margin: $space-stack-l;
  }
  @include screen(tabPortrait) {
    margin: $space-stack-xl;
  }
  @include screen(tabLandscape) {
    margin: $space-stack-xl;
  }
  @include screen(desktop) {
    margin: $space-stack-xl;
  }
  @include screen(desktopWide) {
    margin: $space-stack-xl;
  }
}

.row {
  composes: row from global;
}

.section {
  composes: col-12 col-md-6 from global;
  @include screen(phone) {
    margin-bottom: $space-ll;
  }
  @include screen(tabPortrait) {
    margin-bottom: $space-ll;
  }
  @include screen(tabLandscape) {
    margin-bottom: 0;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}