@import 'invoker-tokens/index.scss';

@mixin track() {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
}

.root {
  appearance: none;
  margin: $space-vertical-sm;
  width: 100%;
  outline: none;
  height: 4px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.12);

  ::-ms-fill-lower {
    background: $light-alpha-100;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 9999px;
    border: 1px solid $dark-alpha-30;
    background: $light-alpha-100;
    box-shadow: 0px 2px 2px $dark-alpha-10;
  }

  &::-ms-fill-lower {
    background: $light-alpha-100 !important;
  }

  &::-moz-range-thumb {
    cursor: pointer;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 9999px;
    border: 1px solid $dark-alpha-30;
    background: $light-alpha-100;
    box-shadow: 0px 2px 2px $dark-alpha-10;
  }

  &::-moz-range-progress {
    background: $light-alpha-100;
    border-radius: 9999px;
  }
}

:global {
  input[type='range']::-moz-focus-outer {
    border: 0;
  }
  ::-moz-focus-inner {
    border: 0;
  }
}
