@import 'src/tokens';

.root {
  display: flex;
}

.inline {
  display: inline-flex;
}

.directionRow {
  flex-direction: row;
}

.rowReverse {
  flex-direction: row-reverse;
}

.directionColumn {
  flex-direction: column;
}

.columnReverse {
  flex-direction: column-reverse;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignBaseline {
  align-items: baseline;
}

.alignStretch {
  align-items: stretch;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyAround {
  justify-content: space-around;
}

.justifyBetween {
  justify-content: space-between;
}
