@import "src/tokens";

.root {
  padding-left: 0;
  color: $dark-alpha-60;
  list-style: none;
  font-size: 16px;
  padding-top: $space-xs;
  &:not(:last-child) {
    padding-bottom: $space-xs;
  }
}

.strong {
  font-size: 16px;
  font-weight: $bold;
  color: $dark-hex-70;
}
