@mixin screen($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1224px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tabPortrait {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tabLandscape {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == desktopWide {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

// Usage Example
// .my-box {
//   padding: 10px;

//   @include screen(desktop) {
//     padding: 20px;
//   }
// }
