@import "src/tokens";

.root {
}

.box {
  background-color: $brand-secondary-40;
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  color: $dark-hex-80;
  box-shadow: 0px 20px 24px -12px $brand-secondary-20;
  @include screen(phone) {
    margin-top: $space-l;
    padding: $space-l;
  }
  @include screen(tabPortrait) {
    margin-top: $space-xl;
    padding: $space-l;
  }
  @include screen(tabLandscape) {
    margin-top: $space-xl;
    padding: $space-ll;
  }
  @include screen(desktop) {
    margin-top: $space-xl;
    padding: $space-ll;
  }
  @include screen(desktopWide) {
    margin-top: $space-xl;
    padding: $space-ll;
  }
}
