@import 'src/tokens';

.root {
  background-color: $bg-banana-200;
}

.container {
  @include screen(phone) {
    padding-top: $space-l;
    padding-bottom: $space-l;
  }
  @include screen(tabPortrait) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
  @include screen(tabLandscape) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
  @include screen(desktop) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
  @include screen(desktopWide) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.subheader {
  width: fit-content;
  display: block;
  color: $dark-alpha-60;
  margin-bottom: $space-s;
}

.noted {
  color: $brand-tertiary-200;
  font-weight: $semibold;
}

.role {
  width: fit-content;
  display: block;
  color: $dark-hex-60;
  margin-bottom: $space-s;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  font-weight: $bold;

  &:not(:first-child) {
    padding-top: 20px;
  }
}

.country {
  text-transform: uppercase;
  background-color: $brand-tertiary-30;
  padding: $space-xs;
  width: fit-content;

  &:not(:last-child) {
    margin: $space-stack-s;
  }
}

.detail {
  padding: $space-inset-l;
  border: 1px solid $brand-secondary-30;
  border-radius: 6px;
  background-color: $brand-secondary-10;
  box-shadow: 0px 16px 24px -12px $dark-alpha-30;
  margin-bottom: $space-ll;
}

.detailAction {
  margin-top: $space-ml;
  line-height: 24px;
  padding: 8px 12px;
  border-radius: 4px;
  color: $brand-primary-200;
  font-size: 17px;
  font-weight: $semibold;
  display: flex;
  align-items: center;
  background-color: $brand-primary-10;
  justify-content: center;
  transition: all .40s;

  &:hover {
    background-color: $brand-primary-20;
    transition: all .28s;
  }

  &:not(:last-child) {
    margin-bottom: $space-sm;
  }
}