@import 'src/tokens';

.root {
  cursor: pointer;
  filter: saturate(0);
  color: $bg-banana-200;
  min-width: 48px;
  min-height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.36s;
  text-decoration: none;
  opacity: .70;
  transition: all .36s;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
    filter: saturate(1);
    transition: all 0.28s;
  }
}

.active {
  opacity: 1;
  filter: saturate(1);
  transition: all .28s;
}

.menu {
  font-weight: 600;
}